@model COOPERATIVAUAPA.Models.Prestamos

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle préstamo</h1><br />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TasaInteres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasaInteres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.CelularPersonal)
        </dd>
    </dl>
</div>
<h2>Tabla de amortizacion</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Cuotas</th>
            <th>Interes Mensual</th>
            <th>Descuento</th>
            <th>Descuento Total</th>
            <th>Capital Pendiente</th>
        </tr>
    </thead>

    @{
        //Codigo racer html y c#
        double capital = Convert.ToDouble(Model.Capital);
        double interes = Convert.ToDouble(Model.TasaInteres) / 1200;
        double plazo = Convert.ToDouble(Model.Periodo);

        //Formula para generar # cuotas
        double cuota = capital * (interes / (double)(1 - Math.Pow(1 + (double)interes, -plazo)));

        double interes_mensual = 0;
        double amortizacion = 0;
        double amortizacion_total = 0;
        int i = 1;

        for (i = 1; i <= plazo; i++)
        {
            interes_mensual = Math.Round((interes * capital), 2);
            capital = Math.Round(capital - cuota + interes_mensual, 2);

            //Amortizacion total y principal
            amortizacion_total += Math.Round(cuota - interes_mensual, 2);
            amortizacion = cuota - interes_mensual;
            <tbody>
                <tr>
                    <td>@i</td>
                    <td>@Math.Round(cuota, MidpointRounding.AwayFromZero)</td>
                    <td>@Math.Round(interes_mensual, MidpointRounding.AwayFromZero)</td>
                    <td> @Math.Round(amortizacion, MidpointRounding.AwayFromZero)</td>
                    <td>@Math.Round(amortizacion_total, MidpointRounding.AwayFromZero)</td>
                    <td> @Math.Round(capital, MidpointRounding.AwayFromZero)</td>

                </tr>
            </tbody>
        }
    }
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPrestamos">Editar</a> |
    <a asp-action="Index">Volver atrás</a>
</div>

